---
import Navigation from "./Navigation.astro";
---

<header class="flex flex-col md:flex-row">
  <a
    href="/"
    class="font-light text-lg text-center"
    title="hi, i'm julian sosa">
    <span class="text-red-700">&#60;&#62;</span>
    hi, i'm <strong class="font-bold">Julian Sosa</strong>
    <span class="text-red-700">&#60;/&#62;</span>
  </a>
  <Navigation />
</header>
