---
import Box from "../components/Box.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Welcome to Astro.">
  <div class="flex flex-col gap-2 h-full pb-3">
    <Box>
      <Header />
    </Box>
    <Navigation />
  </div>
</MainLayout>

<style></style>
