---
const { name, description, url_image } = Astro.props;
---

<div>
  <h2>{name}</h2>
  <p>{description}</p>
  <picture>
    <img src={url_image} alt={name} />
  </picture>
</div>
<style>
  div {
    @apply bg-gray-200 flex flex-col h-96 p-3 relative rounded-md;
  }
  picture {
    @apply mt-auto bottom-3 h-1/2 w-full;
  }
  img {
    @apply block max-h-full object-cover w-full;
  }
</style>
