---
import Navigation from "./Navigation.astro";
---

<header class="flex py-4 px-6">
  <div class="font-light text-lg">
    <span class="text-red-700">&#60;&#62;</span>
    hi, i'm <strong class="font-bold">Julian Sosa</strong>
    <span class="text-red-700">&#60;/&#62;</span>
  </div>
  <Navigation />
</header>
