---
---

<div class="hero">
  <div class="hero-item hero-item-a">Welcome</div>
  <div class="hero-item hero-item-b">Me</div>
</div>

<style>
  .hero {
    @apply flex h-56 gap-4;
  }
  .hero-item {
    @apply bg-gray-200 p-3 rounded-lg;
  }
  .hero-item-a {
    @apply w-9/12;
  }
  .hero-item-b {
    @apply w-3/12;
  }
</style>
