---
---

<div class="hero">
  <div class="hero-item hero-item-a">Me</div>
  <div class="hero-item hero-item-b">Welcome</div>
</div>

<style>
  .hero {
    @apply flex flex-col gap-4 md:flex-row md:h-72;
  }
  .hero-item {
    @apply bg-gray-200 p-3 rounded-lg w-full;
  }
  .hero-item-a {
    @apply h-36 md:h-full order-1 md:order-2 md:w-4/12 lg:w-4/12;
  }
  .hero-item-b {
    @apply order-2 md:order-1 md:w-8/12 lg:w-8/12;
  }
</style>
