---
const { isHidden } = Astro.props;
---

<nav tabindex="0" class:list={[{ hidden: isHidden }]}>
  <a href="/" title="home">home</a>
  <a href="/code" title="code">code</a>
  <a href="/design" title="design">design</a>
  <a href="/culture" title="culture">culture</a>
  <a href="/say-hello  " title="say hello!">say hello!</a>
</nav>

<style>
  nav {
    @apply flex items-center gap-1 ml-auto text-sm justify-center;
  }
  nav a {
    @apply leading-none py-1 px-2 rounded-md transition duration-150 ease-in;
  }
  nav a:nth-child(1) {
    @apply hover:bg-pink-200 focus:bg-pink-200;
  }
  nav a:nth-child(2) {
    @apply hover:bg-lime-200 focus:bg-lime-200;
  }
  nav a:nth-child(3) {
    @apply hover:bg-blue-200 focus:bg-blue-200;
  }
  nav a:nth-child(4) {
    @apply hover:bg-emerald-200 focus:bg-emerald-200;
  }
  nav a:nth-child(5) {
    @apply hover:bg-violet-200 focus:bg-violet-200;
  }
</style>
